html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body {
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 1300px) {
    body {
        width: 90%;
    }
}


/*=========================================+
|                  COLORS                  |
+=========================================*/

:root {
    --link-color: #3182ce;
    --link-color-hover: #2c5282;

    --clear_background: #eaf4ff;

    --button: #617489;
    --button-hover: #4a5c6e;

    --warning-text: #842029;
    --warning-background: #f8d7da;
    --warning-border: #f5c2c7;

    --error-background: rgb(251, 218, 218);
}


/*=========================================+
|                  TITLES                  |
+=========================================*/

h1 {
    margin: 1.5rem 0 1rem 0;

    font-size: 2.5rem;
    font-weight: 500;

    text-align: left;
}

h2 {
    margin: 1rem 0 0.7rem 0;
    font-size: 1.8rem;
    font-weight: 400;
}

h3 {
    margin: 1rem 0 0.8rem 0;

    font-size: 1.8rem;
    font-weight: 500;

    text-align: left;
}

h5 {
    margin: 0.2rem 0 0.8rem 0;

    font-size: 1.3rem;
    font-weight: 500;

    text-align: left;
}


/*=========================================+
|                 HOMEPAGE                 |
+=========================================*/

#homepage-logo {
    margin: 40px 0 20px 40px;
    float: right;

    max-width: 350px;
    width: 25%;
}


/*=========================================+
|                   TEXT                   |
+=========================================*/

* {
    font-size: 1.04rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    margin-top: 0;
    line-height: 1.6rem;
}

a {
    text-decoration: underline;
    color: var(--link-color);
}

a:hover {
    color: var(--link-color-hover);
}

ul,
ol {
    margin: 0 0 0.8rem 0;
}

ul li,
ol li {
    margin-bottom: 0.5rem;
    line-height: 1.6rem;
}

ul li {
    list-style-type: disc;
}


/*=========================================+
|                 NOTA BENE                |
+=========================================*/

.nb {
    margin: 0 0 10px 0;
    padding: 10px 15px;

    background-color: var(--clear_background);
    border-radius: 8px;
}

.nb b {
    font-weight: 600;
}

.nb-warning {
    padding: 15px 20px;
    background-color: var(--warning-background);
    color: var(--warning-text);
    border: solid 1px var(--warning-border);
}


/*=========================================+
|                CONTAINERS                |
+=========================================*/

.content-container {
    display: flex;
    flex-direction: column;
}


/*=========================================+
|                  BUTTONS                 |
+=========================================*/

#rules-ver-buttons-container {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px 0 25px 0;
}

.btn {
    padding: 0.5rem 1rem;
    margin-right: 20px;

    background-color: white;
    border-radius: 5px;
    border: 1px solid #4a5c6e;

    transition: all 0.3s ease;
}

.btn a {
    text-wrap: wrap;
    color: #4a5c6e;
    text-decoration: none;
}

.selected,
.btn:hover {
    background-color: #4a5c6e;
}

.selected a,
.btn:hover a {
    color: white;
}


/*=========================================+
|                  TABLES                  |
+=========================================*/

table {
    margin-bottom: 25px;
    width: 100%;

    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 0.5rem;
    overflow: hidden;
    border-collapse: collapse;
}

table tr {
    text-align: left;
}

table td,
table th {
    padding: 0.6rem 1rem;
}

table th {
    font-weight: 600;
    border-bottom: solid 3px;
}

.even-row {
    background-color: #f1f5f7;
}

.odd-row {
    background-color: white;
}

.large-table td,
.large-table th {
    padding: 0.6rem 0.3rem;
}

.inner-vertical-line {
    border-left: solid 1px;
}

.rank_table tbody tr {
    text-align: center;
}

.ranking_treshold {
    border-bottom: solid 3px;
}

/* COMPETITION HISTORY */

.dancer_name {
    margin: 50px 0 0px 0;
    padding-left: 10px;
}

.competition_history {
    display: flex;
    width: 100%;
}

.competition_history_role {
    display: block;
    padding: 10px;
    width: 50%;
}

.competition_history_role h2 {
    margin: 10px 0;
    font-weight: 500;
}

.competition_history_role h3 {
    margin: 0 0 10px 0;
    font-size: 1.6rem;
    font-weight: 400;
}

.competition_table_header {
    color: white;
    background-color: rgb(56, 56, 56);
}

.competition_history_table_division_separator {
    background-color: rgb(208, 208, 208);
    border: none;
}

.competition_table_header th,
.competition_history_table_division_separator th {
    border: none;
}

@media screen and (max-width: 1100px) {
    .competition_history {
        flex-wrap: wrap;
    }
    .competition_history_role {
        width: 100%;
    }
}

.role_badge {
    margin-left: 10px;
    height: 22px;
}


/*=========================================+
|                   FORMS                  |
+=========================================*/

form {
    max-width: 30rem;
    width: 90%;
}

.form_subelem {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.6rem;
}

form input {
    padding: 0.2rem 0.4rem;
    background-color: #f4f5f8;

    border: solid 1px #b2b6c2;
    border-radius: 0.2rem;
    outline: none;
}

form button[type="submit"] {
    cursor: pointer;
    margin-top: 0.8rem;
    padding: 0.5rem 1rem;

    color: white;
    background-color: var(--button);

    border: none;
    border-radius: 0.2rem;

    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: var(--button-hover);
}

form .error_message {
    padding: 0.2rem 0.5rem;
    background-color: var(--error-background);
    border: none;
    border-radius: 0.2rem;
}


/*=========================================+
|                    FAQ                   |
+=========================================*/

.accordion {
    padding: 0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
    background-color: var(--clear_background);
}

.accordion button {
    position: relative;
    display: block;

    padding: 20px 50px 20px 20px;
    width: 100%;

    text-align: left;
    color: var(--button-hover);

    border: none;
    background: none;
    outline: none;
}

.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;

    top: 18px;
    right: 15px;

    width: 1.25rem;
    height: 1.25rem;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;

    transition: transform 0.5s ease;
}
.accordion button .icon.rotated {
    transform: rotate(180deg);
}

.accordion button[aria-expanded='true'] {
    color: var(--link-color);
}

.accordion button[aria-expanded='true'] .icon::after {
    width: 0;
}

.accordion .accordion-answer {
    opacity: 0;
    max-height: 0;
    overflow: hidden;

    padding: 0 20px;

    transition: opacity 0.5s ease, max-height 0.5s ease;
}

.accordion button[aria-expanded='true']+.accordion-answer {
    opacity: 1;
    max-height: fit-content;

    transition: all 0.8s linear;
    will-change: opacity, max-height;
}

.accordion .accordion-answer p {
    margin: 10px 0;
    padding: 10px 0;
}

.accordion ul {
    margin-top: 8px;
    margin-bottom: 20px;
}
