/*=========================================+
|                  FOOTER                  |
+=========================================*/

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 2rem 0;
    padding: 1rem 0;

    color: var(--footer-text);
    border-top: solid 2px rgb(223, 223, 223);
}

.footer_buttons {
    display: flex;
}

.footer_button {
    margin-right: 2rem;
}

.footer_button a {
    color: var(--footer-text);
    text-decoration: none;
}