name: Playwright Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - name: Checkout tree
      uses: actions/checkout@v5

    - name: Set-up OCaml
      uses: ocaml/setup-ocaml@v3
      with:
        ocaml-compiler: 5.0.0
        dune-cache: true

    - name: Set-up node
      uses: actions/setup-node@v5
      with:
        node-version: lts/*
        cache: 'npm'
        cache-dependency-path: 'src/frontend/package-lock.json'

    - name: Install deps
      run: make configure

    - name: Run node-specific CI
      run: cd src/frontend && npm ci

    - name: Cache Playwright Browsers
      uses: actions/cache@v4
      with:
        path: ~/.cache/ms-playwright
        key: ${{ runner.os }}-playwright-${{ hashFiles('src/frontend/package-lock.json') }}

    - name: Install dependencies
      run: npm ci
      working-directory: src/frontend

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
      working-directory: src/frontend

    - name: Run Playwright tests
      run: npx playwright test
      working-directory: src/frontend

    - name: Upload Playwright Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: playwright-report
        path: src/frontend/playwright-report/
        retention-days: 30
